.THIS .slds-notify--toast {
    color: rgb(255, 255, 255);
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* position: fixed; */
    background: rgba(84, 105, 141, 0.95);
    font-weight: 300;
    border-radius: .25rem;
    margin: .5rem;
    padding: .75rem 3rem .75rem 1.5rem;
    min-width: 30rem;
    text-align: left;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.THIS .buttontestclass{
   padding-top: 1.5rem;
}
.THIS .testlabel{
   padding-top: 1rem;
}