/**
 *
---------------------------------------------------------------------
Name        : captureNicknamesAccountPage CSS
Description : Stylesheet for CaptureNicknameAccountPage
Author      : Adityen Krishnan
----------------------------------------------------------------------
 */


.spinner-padding {
    padding-top: 5%;
}