.THIS .loading_wheel{
  position: fixed;
}
.THIS .slds-spinner_container{
  width: 100vw;
  left: min(-25vw, calc(-50vw + 20rem));
}
.THIS .modal-footer slds-modal__footer .slds-button{
    display:none !important;
}