.THIS .slds-progress {
    min-width:90%!important;
    max-width:90%!important;
    width:100%!important;
}.THIS .lightningProgressIndicator {
    min-width:90%!important;
    max-width:90%!important;
    width:100%!important;
}