.bold_text {
  font-weight: bold;
}

h3 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #cccccc; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

h3 span { 
  background:#fff; 
  padding:0 10px; 
  
}

h4 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #fff; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

h4 span { 
  background:#fff; 
  padding:0 10px; 
  font-weight: bold;
}

.slds-scope .slds-modal__container {
  margin : 0 !important;
}