.THIS .installationAddressLookup {
    max-width:50%;
}
.THIS .siteCreateFieldLength{
    max-width:40%;
}
.THIS .createSiteFooter{
    border-top :2px solid rgb(216, 221, 230);
    background-color: rgb(244, 246, 249);
}
.THIS .forceToastMessage.slds-notify--toast{
    background-color : #407216;
}