.THIS .spinnerForm{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS .customRequired{
    font-weight: 400; } 
.THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}
.THIS .customlabel {
    font-size: 0.75rem;
}
.THIS .hideHelpText .slds-form-element__icon{
    display: none !important; 
}
.THIS .customInputField
{
    margin-bottom: 0.5rem;
}
/*adjusting help text position*/
.THIS .customIcon div{
    vertical-align: top !important;
}
.THIS.customIcon div{
    vertical-align: top !important;
}
.THIS .attachmentlabel .slds-form-element__label {
    display: none !important;
}