.THIS .slds-modal.overriden-modal {
    z-index: 5000;
}

.THIS .slds-backdrop.overriden-backdrop {
    z-index: 4500;
}

.THIS .slds-listbox.slds-listbox_vertical.slds-dropdown.slds-dropdown_fluid.slds-dropdown_length-with-icon-10{
	max-height: calc((1.5rem + 1rem) * 5);
}

.THIS .slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}